#DO NOT REMOVE
/src/main/resources/config.properties
# IntelliJ user-specific files
.idea/
*.iml
# Production output
/out
# Ignore macOS files.
.DS_Store
**/.DS_Store
target/
# local search history
search_history.txt